In [1]:
#Librerias necesarias para implementacion de algoritmo genetico
from __future__ import print_function

from evolver import Evolver

from tqdm import tqdm

import logging

import sys

import main as ge

Primeramente, vamos a trabajar con los alumnos que tienen puntaje de taller, primer parcial y segundo parcial. Se eliminaran a los alumnos que no tengan puntaje de taller

In [2]:
#Librerias necesarias para trabajar con datasets
import pandas as pd
import numpy as np
from sklearn import linear_model, model_selection

df= pd.read_csv("DFResumido.csv", sep=",",index_col=False)

In [3]:
df[df.Taller!=0]

,Anho,Ciclo,Cod.Asign,Asignatura,Aprobado,1P,2P,Taller,RecursaConFirma,DerechoAFinal,Primer.Rec,Segundo.Rec,id_anony,Calificacion
11313,2019,2,13002,CALCULO 1,0,8,10,2,0,0,20,0,es_7106,0.0
11314,2019,2,13002,CALCULO 1,0,15,7,5,0,0,0,0,es_3636,0.0
11315,2019,2,13002,CALCULO 1,0,17,3,6,0,0,0,0,es_3679,0.0
11316,2019,2,13002,CALCULO 1,0,9,15,4,0,0,20,0,es_6564,0.0
11317,2019,2,13002,CALCULO 1,0,7,11,5,0,0,0,0,es_6569,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13831,2019,2,13018,DINAMICA,1,17,29,8,1,1,0,0,es_7713,3.0
13832,2019,2,13018,DINAMICA,1,19,29,10,1,1,0,0,es_7090,5.0
13834,2019,2,13018,DINAMICA,1,20,28,7,1,1,0,0,es_7715,5.0
13835,2019,2,13018,DINAMICA,0,19,20,5,1,1,0,0,es_7095,0.0
13836,2019,2,13018,DINAMICA,0,5,10,10,0,0,14,0,es_7252,0.0

In [5]:
#Ahora, eliminaremos las columnas con datos que no utilizaremos
df=df.drop(['Anho','Ciclo','Cod.Asign','Asignatura','RecursaConFirma','DerechoAFinal','Primer.Rec','Segundo.Rec','id_anony'],axis=1)

In [6]:
df=df[df.Taller>0]

In [7]:
df.head()

       Aprobado  1P  2P  Taller  Calificacion
11313         0   8  10       2           0.0
11314         0  15   7       5           0.0
11315         0  17   3       6           0.0
11316         0   9  15       4           0.0
11317         0   7  11       5           0.0

In [8]:
df.shape

(1992, 5)

In [9]:
df=df.to_string()

In [11]:
ge.train_genomes(8, df)

05/24/2021 08:54:04 PM - INFO - ***train_networks(networks, dataset)***

TypeError: object of type 'int' has no len()